.typewriter {
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #3d7e9a }
}

h1 {
    text-shadow: 3px 1px 9px #aa98a9;
  color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}


.img-circle{
   -webkit-box-shadow: 5px 5px 5px #111;
           box-shadow: 15px 18px 18px #111;  
}



.Pics {
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  
    height: 150px;
    
  
}
.img, .PicShadwow {
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  
  
}

.Pics {
  opacity: 0.8;
  }
.Pics:hover {
  opacity: 1;
  }

.jumbotron{
  background-color: #009fff;
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
p {
    color: #fff;
    
    margin:50px;
    color:white;
    font-weight:125;
    line-height:150%;
}

.lead {
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000,     -1px 0 0 #000;
}
