

h1 {
    text-shadow: 3px 1px 9px #aa98a9;
  color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}


.img-circle{
   -webkit-box-shadow: 5px 5px 5px #111;
           box-shadow: 15px 18px 18px #111;  
}



.Pics {
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  
  
}
.img, .PicShadwow {
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  
  
}

.Pics {
  opacity: 0.8;
  }
.Pics:hover {
  opacity: 1;
  }

.jumbotron{
  background-color: #009fff;
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
p {
    color: #fff;
    
    margin:50px;
    color:white;
    font-weight:125;
    line-height:150%;
}

.lead {
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000,     -1px 0 0 #000;
}
